# Project
DKENV_PROJECT_PATH=./src

# Ports
DKENV_NGINX_PORT=8080
DKENV_MYSQL_PORT=3306

# Database
DKENV_DATABASE_NAME=app
DKENV_DATABASE_USER=app
DKENV_DATABASE_PASSWORD=app
DKENV_DATABASE_ROOT_PASSWORD=root